<!DOCTYPE html>
<html>

<head>
    <title>Express demo!</title>
    <link rel='stylesheet' href='/styles/main.css' />
</head>

<body>
    <a href="./">
      <h3 > Home </h3> 
   </a>
    <a href="/about">
      <h3 > About me </h3> 
   </a>

    <hr/> 
    {{{body}}}
    <footer>
        <h2> footer </h2>
    </footer>

</body>

</html>