/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}





body{
	font-family: 'Roboto Condensed', sans-serif;
}

.left {
   float:left;
}
.right{
   float:right;
}
.my-grey{
   background: #474747;
}
.podcastContainer {
   position: relative;
   width:99%;
   margin: 0.3vw 0.3vw 0.3vw 0.6vw;
   height:4.5em;
   box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
   overflow:visible;
}
.podcastContainer img { 
    height:4.5em;
    vertical-align: middle;
	
}
.podcastContainer p{
color:white;	
}
.textContainer {
	display: inline-block;
	color:white;
	vertical-align: middle;

}

 .textContainer p {
	font-size: 3.1vw;
}
#searchBar {
    margin: 0.3vw 0.3vw 0.3vw 0.6vw;
	width: 99%;
	font-size: 6vw;
	
}

#submitButton{
	color:white; 
	width:99%;
	font-size: 6vw;
	margin: 0.3vw 0.3vw 0.3vw 0.6vw;
}


@media only screen and (min-width: 800px) {
#submitButton{
	width:49%;
	font-size: 2vw;
	margin-left:0.3vw
	}
#searchBar {
	width:49%;
    font-size: 2vw;
}
.podcastContainer {width:49%}
@media only screen and (min-width: 400px) {
.podcastContainer {height:5em;}
.podcastContainer img { height:5em; }
}

 .podcastContainer p {
	font-size: 1.6vw;
}

}
