<center>
<div>
  <h2> <span class="red"> 404 error. </span> Sorry about that! </h2>
  <h2> Page not found. <a href="/">return Home?</a> </h2>
</div>
</center>
<link rel="stylesheet" href="assets/css/error.css">