<div id="contact" class="section">
          <h2 class="center mostimportanttitle mostimportantinsighttitle" id="firsttitle"> Our actions have consequences </h2>
          <p>No matter what we believe in, there is one thing we can all agree upon and that is that our actions have consequences. In physics, this is proved by the fundamental principle of action-reaction, in which action or inaction, irrespective of their meaning or purpose, always has ripple effects. <br><br>
          
          To elaborate on that, it is important to understand what life is. Life is a process where life itself is trying to overcome obstacles. By learning from the consequences of our actions, it reconfigures itself through instincts or genetics (DNA) in an attempt to align with reality. <br>
          <br>
          <img src="assets/img/dna.jpg" alt="aureliensmaze" class="aurelien"/>
          <br><br>
          Why do we have legs, for example? Because by walking, we are more fit to survive. As life evolved, it became much more advanced and we started developing reason, our strongest ability to align with reality. Reason allows us to overcome obstacles by understanding the process between action and reaction in a very logical way. <br><br>

          Life is, therefore, merely the result of actions and reactions. Using empirical evidence, we have the ability to understand the world by developing math equations that predict which action leads to which reaction. Science basically allows us to understand the fabric of life and of the universe itself.</p>

          <br>
          <br>

          <h2 class="center mostimportanttitle mostimportantinsighttitle">We trust the patterns that society follows</h2>
          <p>Kids have a stronger understanding of reality. But if they perform a certain action and their environment acts differently, they start experiencing inner conflict. Even if reality seems to point in a different direction than the one their environment follows, they are still subjected to what other people think about them and, as a result, they also start adopting different mechanics. <br><br>

          If we grow in a dysfunctional society where being aligned with reality is secondary, we learn to start trusting the patterns that allow us to understand which action results in which reaction. As an example, if we grow up in a place where our parents are the ones that shape our environment, we automatically start trusting that pattern.  <br><br>
          <img src="assets/img/society.png" alt="aurelienfilter" class="aurelien" />
          <br><br>
          In essence, the way we learn, think and act is just pattern recognition. Even intuition is just pattern recognition. Pattern recognition is the logical foundation of action and reaction. We see which action leads to which reaction, and when the reaction is an unexpected one, we notice a discrepancy, we become confused and we try to understand it.</p>
          <br><br>
          This is also one of the most understood scientific concepts in Psychology. The famous Pavlov experiment shows that it comes down to basic conditioning. Pavlov rang a bell each time he fed his dog. When he kept repeating the experiment, after a while, the dog started getting excited by just hearing the bell.

          <br>
          <br>

          <h2 class="center mostimportanttitle mostimportantinsighttitle">What is not in line with reality doesn't work</h2>
          <p>Each one of us works in the same way. We merely adopt the actions that our environment (mostly parents and teachers) reward us for. Even though, on a fundamental level, we know that it doesn't make sense, being in line with the feedback from our environment is what mostly defines the extent to which we feel safe in life. As a result, we let go of our trust in reality and we instead adopt the direction of the people around us.
            <br><br>
          This, then, leads to validation-seeking. We repeatedly try to understand the consequences of our actions by studying the effects they have on others and, in the process, we start defining our opinions and actions based on what is rewarded or not.</p>   
          <br><br>
          We start following and trusting this feedback loop of rewards for behavior that is not in line with reality. As we grow older, we even create an identity. We create an image of our individuality to justify our excuses and we feel entitled to uphold remarks such as "That's not how I am" or "I don't agree, that is not my opinion".
          <br><br>
          This creates an entire cocktail of individualist traits that shields us off from our responsibilities. Yet, on a deep level, we know that a framework that is not in line with reality will never work.
          <br><br>
          As we grow older and with more experience, we start seeing through the system and we realize that people don't really care about us. As this point, validation-seeking starts translating into comfort. A lot of people are in this transition phase: we still somewhat care about what others think about us but we also preparing to settle with what we already have.

          <br>
          <br>

          <h2 class="center mostimportanttitle mostimportantinsighttitle">We are responsible if we have the knowledge</h2>
          <p>Responsibility is the extent to which the knowledge of the consequences of our actions translates into actual actions. On a personal level, if we are not aware of those consequences, then we can say that we are not responsible.<br>
          <br>
          <img src="assets/img/responsibility.jpeg" alt="aurelienresponsible" class="aurelien"/>
          Let's take the example of a child. We can't blame a child for actions which he doesn't even understand the consequences of. But as we grow older and gather more knowledge, we start creating a paradigm that makes us capable of understanding. As a result, we become more and more responsible, to such a point that we have the responsibility to act in a way that doesn't go against what we are.
          <br><br>
          It's a synergy. On one hand, we have the consequences of our actions, regardless of our knowledge. On the other hand, we have our mental image and reasoning creating a feedback loop based on the knowledge we have, which ultimately brings about a sense of responsibility.</p>

          <br>
          <br>

          <h2 class="center mostimportanttitle mostimportantinsighttitle">Everyone is making excuses</h2>
          <p>The problem is that we grow up in a society where we are getting fed (sometimes, at brute force) certain responsibilities that are not aligned with reality. And the way we cope with it is by creating a framework of excuses by learning from the excuses of others as we grow up. As a result, almost everyone shares an unspoken rule of irresponsibility: "I accept your excuse, you accept my excuse". It's self-amplifying. Sometimes, we even go to the extent to try and convince our friends to smoke or drink, so that we are in a better spot to make an excuse.
            <br><br>
          To put it more simple: in a world where everyone is making excuses, we develop our own ray of excuses to remain in line with it. It's an entire culture of excuses.
          <br><br>
          And the funny thing is: everyone knows it. Whether it is by eating meat, believing in God or ignoring the misery around the world, we all know we are making excuses because we are constantly confronted with reality. Even simply saying "I just don't care" is another excuse. Caring is irrelevant when it comes down to taking action and its consequences. Things just are the way they are.</p>

          <br>
          <br>

           <h2 class="center mostimportanttitle mostimportantinsighttitle">The mother of all excuses</h2>
          <p>There is still one excuse that beats any other: the excuse that we are doing enough.
            <br><br>
          But even when we take responsibility for our actions, if we are truly honest with ourselves, we quickly realize that we can always do better. Enough is not enough. The question then becomes "How can I do better?" instead of "Can I do better?" This is the difference between a visionary and someone who ends up achieving nothing. This is how someone grows and has a huge impact. Deep within, we know this but we settle with "I just can't" and use it as an excuse.
          </p>

          <br>
          <br>

          <h2 class="center mostimportanttitle mostimportantinsighttitle">What is the click</h2>
          <p>On a fundamental level, the click is simply the understanding that we can trust way more in logic than in anything else. It gives us a much better framework to be aligned with reality and because there is no discrepancy between our actions and further consequences, we will rarely experience any inner conflict. We can fully trust and fall back on logic.
            <br><br>
          This is something that everyone knows. However, because we were being "punished" as we grew up, we started making excuses to cope with the discrepancy with reality. As a result, we became a "conditioned excuses machine" rotting our mindset and our life.
          <br><br>
          As an example, when a father gets angry at his kid, the kid doesn't blame his father but himself. We, as a child, always think it is his our own fault. But as we grow older, we create an ability to project and we start using the system (or even others) as an excuse.
          <br><br>
          On the other hand, when we base ourselves on logic and reality, we look at the situation and think of how we can fix it. We never point fingers. When we do, we are merely coming up with an excuse to deflect our responsibility. Sadly, this is the major cause of all human-caused suffering.
          </p>

          <br>
          <br>

          <h2 class="center mostimportanttitle mostimportantinsighttitle">It is always our own responsibility</h2>
          <p>Control can be defined as the extent to which our actions have influence over the consequences.
            <br><br>
         When there is a problem and we argue that it is the government or someone else's responsibility to fix it, we do it to obtain control over the situation. We basically try to gain control by giving it to other people. But this is totally flawed. We let go of our ability to make a choice ourselves and we instead rely on our environment (and the intersubjectivity) to decide for us.
          <br><br>
          Instead, we should always fall back on logic and reality itself. By doing that, we can't even point fingers to others. We can't say that it is their responsibility. We are the ones that are responsible, always having our understanding of reality as the foundation and the extent to which we can have an impact as the direction. This is literally the only thing that matters and everything else is an excuse.
          <br><br>
          Moreover, when logic and reality are the only things that create our framework, we don't have to justify ourselves to anyone. We only justify ourselves towards ourselves, reality and the consequences of our actions.
          <br><br>
          Understanding and trusting the patterns in reality is what give us control and the ability to make accurate predictions. On a fundamental level, it is also what brings a sense of safety and self-reliance to our lives.
          <br><br>
          It can be a very powerful realization that life is about taking responsibility and anything that stops us from accepting that is just an excuse. It is only by learning from the (sometimes) unexpected consequences of our actions that we become more knowledgeable and better prepared to recognize the patterns. That is what life is. We can only get better at it.
          </p>

          <br>
          <br>
          

       
          <h2 class="center mostimportanttitle mostimportantinsighttitle">It is about being honest with ourselves</h2>
          <p>When we are fully honest with ourselves, we understand the consequences of our actions and we don't make any excuses. None. When we do that, only reality is left. We act merely based on our understanding of the consequences and we automatically start doing what is right. This is what "choiceless awareness" really is. And the only thing disconnecting us from it is the number of excuses that we make.
          <br><br>
          For example, when we have a child and we have to take care of it, we just do it. The same applies if we need to sleep or eat. We don't make excuses because, on a fundamental level, we understand the relation between the action and its consequences.
          <br><br>
          And everyone understands this. We understand that being responsible is making sure that our actions in life don't go against life itself. It all boils down to honesty and we can literally start now. We don't have to lie anymore. If we stop giving yourself excuses to stop eating healthy, we just start eating healthy. That's it. There is not even an effort. The effort is only in overcoming your excuses. When we realize this, all duality and conflict in our minds fade away.</p>

      </div> <!-- #portfolio-->