<div id="about" class="section">
  <div class="section__table">
    <div class="section__cell">
      <div class="container">
        <div class="section__heading row whatistheclick">
          <div class="col-xs-12 col-md-6">
            <div class="overflow-hidden">
              <div class="animation-item">
                <p class="note">This site replaces the Logicnation Wiki. In these pages we have condensed the latest discoveries in neuroscience and psychology to practically improve your life.</p>
                  <h2 class="section__title homepage_title">What is <span class="color3">the click?</span></h2> <br>
                  <p class="animation-item whatistheclicktext">
                 The click is the moment where you switch from valuing experience to valuing doing what is right. This happens at a deep emotional level and from then on you're driving to have the biggest possible impact.<!-- You realise that you can improve the world and from then on, are driven to have the biggest impact possible. -->
                </p>
              </div>
            </div>
          </div>
           <div class="col-xs-6 col-md-6 overflow-hidden">
            <div class="animation-item">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/dbh5l0b2-0o" frameborder="0" allowfullscreen></iframe>
              <br>
            </div>
          </div>

        </div> <!-- .section__heading -->

        <div class="section__content row">
          <div class="col-xs-12 col-md-5">
            <div class="overflow-hidden">
              <div class="about-item animation-item">
                <h2 class="section__title homepage_title" style="margin-top: 0.4em;">
                  Benefits
                </h2>
                <div class="media">
                  <div class="media-left">
                    <img class="media-media circle" src="assets/img/item/about-01.jpg" alt="">
                  </div>
                  <div class="media-body">
                    <h3>CONFIDENCE</h3>
                    <p>Feel greatly empowered as reasoning drives your actions and you stop chasing good feelings</p>
                  </div>
                </div> <!-- .media -->

                <div class="media">
                  <div class="media-left">
                    <img class="media-media circle" src="assets/img/item/about-03.jpg" alt="">
                  </div>
                  <div class="media-body">
                    <h3>HAPPINESS</h3>
                    <p>Appreciate reality and all the people in it as your social anxiety and depression fade away</p>
                  </div>
                </div> <!-- .media -->

                <div class="media">
                  <div class="media-left">
                    <img class="media-media circle" src="assets/img/item/about-02.jpg" alt="">
                  </div>
                  <div class="media-body">
                    <h3>INTELLIGENCE</h3>
                    <p>Unlock a constant state of flow and see your logic abilities skyrocket</p>
                  </div>
                </div> <!-- .media -->
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-md-6 col-md-offset-1">
            <div class="overflow-hidden">
              <div class="animation-item">

                 <h3 class="homenavigation2">NAVIGATION</h3>
                <a class="btn btn-theme btn-icon btn-pill navigationbutton thexsistentialdeathbtn" href="/foursteps"
                 title="Explanation of how to click in 4 steps">
                  <i class="ion-alert"></i>CLICK IN 4 STEPS
                </a> <br>
                <a class="btn btn-theme btn-icon btn-pill navigationbutton theselflessnessbtn" href="/insights"
                 title="Neuroscience/Psychology insights tree">
                  <i class="ion-alert"></i>REALTALK INSIGHTS
                </a> <br>
                <a class="btn btn-theme btn-icon btn-pill navigationbutton theselflessnessbtn" href="/realtalkfinder"
                 title="Find all realtalks containing your word">
                  <i class="ion-gear-b"></i>REALTALK FINDER
                </a>
                <h3 class="homenavigation2">Articles</h3>
                <a class="btn btn-theme btn-icon btn-pill navigationbutton thexsistentialdeathbtn" href="/existentialdeath"
                 title="How to overcome existential death">
                  <i class="ion-android-share"></i>The existential death
                </a> <br>
                <a class="btn btn-theme btn-icon btn-pill navigationbutton" href="/mostimportantinsight"
                 title="The Most important insight on the website" id="mostimportantinsightbutton">
                  <i class="ion-android-share"></i>Most Important Insight
                </a>
              </div>
            </div>
          </div>
        </div> <!-- .section__content -->
      </div>
    </div>
  </div>
</div> <!-- #about -->